body {
  margin: 5% 20%;
}

button {
  width: 100%;
  font-size: 34px !important;
  margin: 24px !important;
}

span {
  font-size: 34px !important;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiSlider-root, .MuiFormControl-root {
  margin: 32px 0 !important;
}

.MuiTypography-root {
  margin-bottom: 24px !important;
}

h4.word {
  margin-top: 40vh !important;
  font-size: 48px !important;
}

@media screen and (max-width: 600px) {
  body {
    margin: 10% 5%;
  }
  
  .MuiTypography-root {
    font-size: 24px !important;
  }

  button {
    width: 100%;
    font-size: 24px !important;
    margin: 0 !important;
  }

  .MuiSlider-root, .MuiFormControl-root {
    margin: 16px 0 !important;
  }

  .MuiTypography-root {
    margin-bottom: 12px !important;
  }

  img[alt="много символов"] {
    width: 350px;
    height: 350px;
  }
}